/* Error: Missing argument $fill.
 *   ,--> sass\pages\_restaurants.scss
 * 30|         @include mixin.animation(top, 1s, ease, forwards);
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *   '
 *   ,--> sass\utils\_mixin.scss
 * 8 | @mixin animation($name, $duration, $timing, $delay, $fill) {
 *   |        =================================================== declaration
 *   '
 *   sass\pages\_restaurants.scss 30:9  animation()
 *   sass\pages\_restaurants.scss 30:9  @use
 *   sass\main.scss 23:1                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $fill.\a   \250c \2500 \2500 > sass\\pages\\_restaurants.scss\a 30\2502          @include mixin.animation(top, 1s, ease, forwards);\d\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > sass\\utils\\_mixin.scss\a 8 \2502  @mixin animation($name, $duration, $timing, $delay, $fill) {\d\a   \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   sass\\pages\\_restaurants.scss 30:9  animation()\a   sass\\pages\\_restaurants.scss 30:9  @use\a   sass\\main.scss 23:1                root stylesheet";
}
