@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@keyframes checker {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes fadeInBox {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translate(none);
  }
}
@keyframes fadeInPlats {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(none);
  }
}
@keyframes fadeInLines {
  0% {
    width: 0px;
  }
  100% {
    width: 50px;
  }
}
@keyframes top {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: -40px;
    opacity: 1;
  }
}
@keyframes hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: auto;
}
body h1, body h2, body h3, body p {
  margin: 0px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
body a {
  color: inherit;
  text-decoration: none;
}
body a:hover, body button:hover {
  cursor: pointer;
}

main a:hover, main button:hover, .top a:hover, .top button:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 10px 5px -5px rgba(64, 88, 104, 0.8);
}
header .logo {
  padding: 20px 0;
  box-shadow: 0px 0px 5px 0px rgba(64, 88, 104, 0.8);
  width: 100%;
  display: flex;
  justify-content: center;
}
header .logo img {
  height: 30px;
}

.checker {
  padding-right: 15px;
}

.loader {
  background: #9356DC;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.lds-facebook {
  display: inline-block;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
.top .location {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  gap: 20px;
  justify-content: center;
  flex-direction: row;
  background-color: #EAEAEA;
}
.top .reserve {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.fonction {
  width: 90%;
  margin: auto;
  padding: 20px 0 30px 0;
  gap: 20px;
}
.fonction__button {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px;
  padding: 20px 0;
}
.fonction .button {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 25px 0px;
  width: 95%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 3px 10px -5px rgba(64, 88, 104, 0.8);
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.fonction .button .fas {
  font-size: 20px;
  color: #7E7E7E;
}
.fonction .button__number {
  position: relative;
  right: 12px;
  background-color: #9356DC;
  padding: 4px 8px;
  border-radius: 25px;
  color: #FFF;
  margin-right: -5px;
}
.fonction .button:hover {
  background-color: #F5EDFF;
}
.fonction .button:hover .fas {
  color: #9356DC;
}

#resto {
  background-color: #F6F6F6;
  padding: 20px 0 30px 0;
}

.resto {
  width: 90%;
  margin: auto;
}
.resto a:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
}
.resto__div {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
.resto__div .parent {
  display: flex;
  position: relative;
}
.resto__div .parent .new {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  color: #008766;
  top: 12px;
  right: 12px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #99E2D0;
  margin-bottom: -40px;
}
.resto__card {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 10px -5px rgba(64, 88, 104, 0.8);
  flex: 1 50%;
}
.resto__card img {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  height: 200px;
  width: 100%;
}
.resto__desc {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  justify-content: space-between;
}
.resto__name {
  margin: 5px;
}
.resto__name h3, .resto__name p {
  text-align: left;
  padding: 2px 6px;
}

@media (min-width: 768px) {
  .resto__div {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .resto__card {
    flex: 45%;
  }

  .fonction__button {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    flex: 33%;
  }
}
footer {
  padding: 20px;
  background-color: #353535;
}
footer .footer__link {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  margin-top: 10px;
}
footer .footer__link .fa-handshake {
  transform: rotate(320deg);
}
footer p {
  filter: invert(100%);
}
footer img {
  margin: 12px 0;
  height: 20px;
  filter: invert(100%);
}
footer i {
  filter: invert(100%);
  width: 20px;
  padding-right: 25px;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
  }
  footer .footer__div {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 60px;
  }
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
}
header i {
  margin-right: 50%;
  font-size: 20px;
  position: absolute;
  top: 25px;
  left: 35px;
}

.restoDisplay {
  object-fit: cover;
  width: 100%;
  height: 300px;
  opacity: 0;
  animation-name: fadeInPlats;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}

main {
  background: linear-gradient(white 50%, #EAEAEA 50%);
}
main .menu {
  border-radius: 30px 30px 0 0;
  position: relative;
  top: 0px;
  animation-name: top;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: none;
  animation-fill-mode: forwards;
  background-color: #EAEAEA;
}
main .menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
}
main .menu__title {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  opacity: 0;
  animation-name: fadeInPlats;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
main .commander {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}
main .commander button {
  width: 150px;
  text-align: center;
}
main .plats {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 20px;
  padding: 20px;
  margin: auto;
}
main .plats h2 {
  text-align: left;
  font-size: 18px;
  font-weight: normal;
  opacity: 0;
  animation-name: fadeInPlats;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}
main .plats h2::after {
  content: "";
  width: 0px;
  animation-name: fadeInLines;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  display: block;
  background-color: #99E2D0;
  margin-top: 5px;
  height: 4px;
}
main .plats article {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .plats .plats-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 10px -5px rgba(64, 88, 104, 0.8);
  border-radius: 10px;
  flex-direction: row;
  background-color: white;
  overflow: hidden;
  opacity: 0;
  animation-name: fadeInBox;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
main .plats .plats-card.deux {
  animation-name: fadeInBox;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}
main .plats .plats-card.trois {
  animation-name: fadeInBox;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
}
main .plats .plats-card__desc {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 15px 25px 15px 15px;
  width: 100%;
  transition: width 0.3s ease-out;
}
main .plats .plats-card__desc h3, main .plats .plats-card__desc p {
  text-align: left;
  font-size: 16px;
}
main .plats .plats-card__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
main .plats .plats-card__check {
  display: flex;
  color: white;
  font-size: 25px;
  margin-right: -25%;
  flex-basis: 25%;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  transition: margin-right 0.5s ease-out;
}
main .plats .plats-card:hover {
  cursor: pointer;
}
main .plats .plats-card:hover .plats-card__check {
  margin-right: 0px;
}
main .plats .plats-card:hover .plats-card__check i {
  animation-name: checker;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-delay: none;
  animation-fill-mode: forwards;
}
main .plats .plats-card:hover .plats-card__desc {
  width: 75%;
}

@media (min-width: 768px) {
  main .plats {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
  }
  main .plats article {
    min-width: 200px;
    flex: 33%;
    max-width: 49%;
  }

  .menu h1 {
    width: 100%;
  }
  .menu__title .checker {
    position: relative;
    bottom: 10px;
    right: 40px;
  }

  h2 {
    width: 100%;
  }
}
.button-gradient {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  font-weight: bold;
  box-shadow: 0px 10px 20px -10px rgba(64, 88, 104, 0.8);
  border: none;
  padding: 20px;
}

.checker {
  margin-left: auto;
  padding-right: 15px;
}

input[type=checkbox] {
  appearance: none;
}
input[type=checkbox]:checked + label .fa-check-circle {
  color: white;
  display: inline;
}
input[type=checkbox]:checked + label .active {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  transition: all 1s;
}
input[type=checkbox]:checked + label .none {
  display: none;
}

label {
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  font-size: 20px;
}
label .fa-check-circle {
  color: white;
}
label .active {
  display: none;
}
label:hover .active {
  display: inline;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: display 0.5s;
}
label:hover .none {
  display: none;
  transition: display 0.5s;
}

/*# sourceMappingURL=style.css.map */
