@use '../utils/mixin';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: auto;

    
    h1, h2, h3, p{
        margin: 0px;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden; 
        
    }

    a{
        color: inherit;
        text-decoration: none;
    }

    a:hover, button:hover{
        cursor: pointer;
    } 
}

main, .top{
    a:hover, button:hover{
        transform: scale(1.02);
        transition: transform 0.3s ;
    } 
}

.resto__card{
    
}