$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-footer: #353535;
$lightgrey: #F6F6F6; 
$grey: #EAEAEA;



$paddings: (pad10: 10px, pad20: 20px, pad30: 30px);
$marg: (mar10: 10px, mar20: 20px, mar30: 30px);
